@import '/src/App';

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.login-heading {
    font-size: $login-heading-size;
    padding: 20px 10px;
    text-transform: uppercase;
    font-family: 'Irvin';
}

.login-form {
    width: 40%;
    background: $login-form-bg-color;
    padding: 3rem 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.form-password {
    position: relative !important;
    top: 0;
    left: 0;
}

.login-icons {
    position: absolute;
    right: 8%;
    top: 55%;
    font-size: 22px;
}

.icon {
    position: absolute;
    cursor: pointer
}

.active-hidden {
    visibility: hidden;
}

.active-show {
    visibility: visible;
}



.form-group {
    padding: 10px 0;
}

.form-label {
    font-size: $label-heading-size;
    font-family: 'Irvin';
}
.form-control {
    padding: 15px;
}

.submitBtn {
    display: block;
    background: $primary-btn-bg-color;
    color: $btn-color;
    width: 100%;
    border-radius: 0;
    padding: 10px 0;
}

.submitBtn:hover {
    color: #fff;
}

.text-muted {
    font-size: 14px;
}

@media screen and (max-width: 320px) {

    .login-form {
        width: 95%;
    }

    .login-icons {
        right: 15%;
    }

}

@media (min-width: 321px) and (max-width: 578px) {
    .login-form {
        width: 80%;
    }

    .login-icons {
        right: 15%;
    }

}

@media (min-width: 579px) and (max-width: 768px) {
    .login-form {
        width: 70%;
    }

}

@media (min-width: 769px) and (max-width: 992px) {
    .login-form {
        width: 60%;
    }
}