@import '/src/App';

.link-input {
    position: relative;
    left: 0;
    top: 80px;
    width: 70%;
}

.link-input .link-input-btn {
    position: absolute;
    border-radius: 0;
    left: 100%;
    top: 0;
    width: 43% ;
    font-family: 'Irvin';
    height: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: $primary-btn-bg-color;
    color: $btn-color;
    z-index: 100;
}

.portret-bottom {
    padding: 110px 0;
}