.ck-toolbar {
    background: #9ee3d3 !important;
    width: 650px !important;
}

.ck {
    width: 650px;
    height: 200px;
}

.cke_top {
    background: #9ee3d3 !important;
    display: none !important;
}
